@helper AddMap(int height, int width, double longitude, double latitude, int zoomLevel)
{
    <link rel="stylesheet" href="/Content/ol.css" type="text/css">
    <style>
        .map {
            height: @height.ToString()px;
            width: @width.ToString()px;
        }
    </style>
    <script src="/Scripts/ol.js"></script>

    <div id="map" class="map"></div>

    <script type="text/javascript">
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([@longitude, @latitude]),
                zoom: @zoomLevel
            })
        });
    </script>
}
